{% extends 'base.html.twig' %}

{% block title %}
Ebook Author
{% endblock %}

{% block breadcrumbs %}
-> Author
{% endblock %}

{% block centertitle %}
<div class="p-5 mx-2 mt-3 text-lg text-center">{{author}} - ebooks collection</div>
{% endblock %}

{% block body %}
<div class="grid items-center gap-4 mt-5 sm:grid-cols-2 md:grid-cols-4 xl:grid-cols-8">
    {% for ebook in ebooks %}
    {{ include('ebook/_ebook.html.twig', {ebook: ebook}) }}
    {% endfor %}
</div>
{% endblock %}