{% extends 'base.html.twig' %}

{% block title %}
Register
{% endblock %}

{% block breadcrumbs %}
-> Register
{% endblock %}

{% block body %}
{% for flash_error in app.flashes('verify_email_error') %}
<div class="absolute p-3 m-2 mx-auto text-right bg-red-600 border-2 border-red-800 rounded-full right-5 bottom-5">
    <div class="text-gray-200">{{ flash_error }}</div>
</div>
{% endfor %}

{{ include('registration/_form.html.twig') }}

{% endblock %}