{% extends 'base.html.twig' %}

{% block title %}
Ebook Library
{% endblock %}

{% block body %}
    <div class="grid items-center gap-4 sm:grid-cols-2 md:grid-cols-6 xl:grid-cols-10">
        {% for i in 1..30 %}
        <div class="mb-4 text-2xl text-center">
            <a href="#">Temat Ebooka</a>
        </div>
        {% endfor %}
    </div>
{% endblock %}