<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8" />
  <title>{% block title %} Ebook library {% endblock %}</title>

  {# Main colors of this project: slate-900 and gray-100 #}

  {% block stylesheets %}
  <script></script>
  {% endblock %}
  {% block javascripts %}
  <script></script>
  {% endblock %}

  <script src="https://cdn.tailwindcss.com"></script>
  {#
  <script>
    tailwind.config = { darkMode: 'class' }
  </script> #}
</head>

<body class="bg-gray-100 text-slate-900">

  {# Navigation #}
  <nav class="top-0 items-center justify-between w-full py-2 bg-slate-900">
    <div class="container flex items-center justify-between px-2 mx-auto">
      <div class="flex justify-between w-full text-xl text-gray-100">
        <a class="inline-block p-4" href="{{ path('app_ebook') }}">Ebooks library</a>
        <div class="flex items-center justify-between">
          <a class="inline-block p-4" href="#">Login</a>
          <a class="inline-block p-4" href="#">Register</a>
          <a class="inline-block p-4" href="{{ path('app_ebook_add') }}">Add new</a>
          <a class="inline-block p-4" href="#">Profile</a>
        </div>
      </div>
    </div>
    </div>
  </nav>

  <div class="container w-full">

    {# Section 1 - search + navigation info #}
    <section>
      <div class="container flex items-center justify-between w-full mx-auto">
        <div class="items-center justify-between w-full py-5 mx-10 my-5 md:flex">

          {# breadcrumbs #}
          <div class="mb-4 text-3xl text-black">
            <a href="{{ path('app_ebook') }}">Homepage</a>
            {% block breadcrumbs %}

            {% endblock %}
          </div>


          {# searchbar and search button #}
          <div class="bg-gray-100">
            <div class="container flex items-center justify-start">
              <div class="relative">

                {# searchbar #}
                <input type="text" class="z-0 pl-5 pr-8 rounded h-14 w-80 focus:shadow focus:outline-none"
                  placeholder="Search anything...">
                <div class="absolute top-4 right-3">
                  <i class="text-gray-400 fa fa-search hover:text-gray-500"></i>
                </div>
              </div>

              {# search button #}
              <button class="h-12 ml-1 font-semibold text-white rounded-full bg-slate-900 w-28">
                <div class="flex items-center justify-center gap-3">
                  <span class="text-xl">Search</span>
                </div>
              </button>

            </div>
          </div>

        </div>
      </div>

    </section>

    {# Section 2 - ebooks #}
    <section>
      <div class="container flex items-center justify-between w-full mx-auto">
        <div class="flex items-center justify-between w-full p-5">
          {% block body %}

          {% endblock %}
        </div>
      </div>
    </section>

    {# Section 3 - flash messages #}
    <section>
      {% for message in app.flashes('success') %}
      <div class="absolute p-3 m-2 mx-auto text-right bg-green-600 border-2 border-green-800 rounded-full right-5 bottom-5">
        <div class="text-gray-200">{{ message }}</div>
      </div>
      {% endfor %}
    </section>

  </div>

</body>

</html>