<div class="mb-4 text-center bg-gray-300 rounded size-full text-md">
    <a class="px-1 break-words " href="{{ path('app_ebook_show', { ebook: ebook.id }) }}">{{ ebook.title }}</a>
    <a class="flex items-center justify-center px-1 text-sm text-center break-words text-slate-500">{{ ebook.author
        }}</a>
</div>