<div class="bg-gray-100">
    <div class="container flex items-center justify-start">
      <div class="relative">

        {# searchbar #}
        <input type="text" class="z-0 pl-5 pr-8 rounded h-14 w-80 focus:shadow focus:outline-none"
          placeholder="Search anything...">
        <div class="absolute top-4 right-3">
          <i class="text-gray-400 fa fa-search hover:text-gray-500"></i>
        </div>
      </div>

      {# search button #}
      <button class="h-12 ml-1 font-semibold text-white border-2 border-gray-400 rounded-full bg-slate-900 w-28">
        <div class="flex items-center justify-center gap-3">
          <span class="text-xl">Search</span>
        </div>
      </button>

    </div>
  </div>